# Syncthing
.st*
.zettel-notes
desktop.ini
.trash/

/Thư giới thiệu/*

/.obsidian/*
#!/.obsidian/app.json
#!/.obsidian/appearance.json
#!/.obsidian/community-plugins.json
!/.obsidian/core-plugins.json
!/.obsidian/hotkeys.json
!/.obsidian/starred.json

!/.obsidian/plugins/
/.obsidian/plugins/*
!/.obsidian/plugins/advanced-toolbar
!/.obsidian/plugins/dataview
!/.obsidian/plugins/better-inline-fields
!/.obsidian/plugins/buttons
!/.obsidian/plugins/folder-note-core
!/.obsidian/plugins/folder-note-plugin
!/.obsidian/plugins/google-calendar
!/.obsidian/plugins/multi-column-markdown
!/.obsidian/plugins/metadata-menu
!/.obsidian/plugins/metaedit
!/.obsidian/plugins/obsidian-another-quick-switcher
!/.obsidian/plugins/obsidian-banners
!/.obsidian/plugins/obsidian-custom-frames
!/.obsidian/plugins/obsidian-editor-shortcuts
!/.obsidian/plugins/obsidian-git
!/.obsidian/plugins/obsidian-icon-folder
!/.obsidian/plugins/obsidian-leaflet-plugin
!/.obsidian/plugins/obsidian-party
!/.obsidian/plugins/obsidian-quickshare
!/.obsidian/plugins/obsidian-version-history-diff
!/.obsidian/plugins/quick-explorer
!/.obsidian/plugins/quickadd
!/.obsidian/plugins/templater-obsidian
!/.obsidian/plugins/various-complements

!/.obsidian/snippets/