[submodule "Land of Spheres\\6 Các bên liên quan (NPC)\\Cá nhân\\63 Đối tượng cụ thể (NPC)\\Cá nhân khác"]
	path = Land of Spheres\\6 Các bên liên quan (NPC)\\Cá nhân\\63 Đối tượng cụ thể (NPC)\\Cá nhân khác
	url = https://github.com/QuaCau-TheSphere/Ca-nhan-khac